[submodule "catkin_ws/src/wsg50-ros-pkg"]
	path = catkin_ws/src/wsg50-ros-pkg
	url = https://github.com/mcubelab/wsg50-ros-pkg.git
[submodule "catkin_ws/src/pr_msgs"]
	path = catkin_ws/src/pr_msgs
	url = https://github.com/mcubelab/pr_msgs.git
[submodule "catkin_ws/src/realsense_camera"]
	path = catkin_ws/src/realsense_camera
	url = https://github.com/mcubelab/realsense_camera
[submodule "catkin_ws/src/passive_vision"]
	path = catkin_ws/src/passive_vision
	url = https://github.com/mcubelab/passive_vision
[submodule "catkin_ws/src/active_vision"]
	path = catkin_ws/src/active_vision
	url = https://github.com/mcubelab/active_vision
[submodule "catkin_ws/src/weight_sensor"]
	path = catkin_ws/src/weight_sensor
	url = https://github.com/mcubelab/loadstar_weight_sensors.git
[submodule "catkin_ws/src/abb-ros-catkin"]
	path = catkin_ws/src/abb-ros-catkin
	url = https://github.com/mcubelab/abb-ros-catkin.git
[submodule "passive_vision"]
	path = passive_vision
	url = https://github.com/mcubelab/passive_vision
