aprilCameraCalibration {

    // MRE:   0.668 px MSE   0.719 px MaxRE   3.410 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1367.554196,1366.609281 ];
            // focal center cx, cy
            cc = [ 951.178214, 550.491164 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.600344,  -1.976741,   4.601889,  -2.495619 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
