aprilCameraCalibration {

    // MRE:   0.774 px MSE   0.890 px MaxRE   4.112 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1378.808614,1378.331948 ];
            // focal center cx, cy
            cc = [ 954.550035, 544.832431 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.061080,  -0.531472,   0.720811 ];
            // tangential distortion parameters
            // equivalent to kc(3) and kc(4) in Caltech model
            // equivalent to p1, p2 in OpenCV model
            lc = [  -0.001128,   0.001454 ];
            skew =    0.001947;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
