aprilCameraCalibration {

    // MRE:   0.633 px MSE   0.644 px MaxRE   3.457 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1371.391506,1370.712458 ];
            // focal center cx, cy
            cc = [ 956.005553, 546.642980 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.164999,  -1.090383,   1.175125,   2.283264,  -3.426742 ];
            // tangential distortion parameters
            // equivalent to kc(3) and kc(4) in Caltech model
            // equivalent to p1, p2 in OpenCV model
            lc = [  -0.001012,   0.001700 ];
            skew =    0.001942;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
