aprilCameraCalibration {

    // MRE:   1.157 px MSE   1.799 px MaxRE   4.384 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1396.245661,1397.068448 ];
            // focal center cx, cy
            cc = [ 956.314913, 542.470109 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [  -0.088259,   0.090743 ];
            // tangential distortion parameters
            // equivalent to kc(3) and kc(4) in Caltech model
            // equivalent to p1, p2 in OpenCV model
            lc = [  -0.001562,   0.001439 ];
            skew =    0.001846;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
