aprilCameraCalibration {

    // MRE:   0.648 px MSE   0.678 px MaxRE   3.218 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1370.881791,1369.907828 ];
            // focal center cx, cy
            cc = [ 951.373758, 550.823435 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.167606,  -1.110226,   1.331428,   1.830950,  -3.015411 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
