aprilCameraCalibration {

    // MRE:   1.171 px MSE   1.829 px MaxRE   4.317 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 1920;
        height = 1080;

        intrinsics {
            // focal length fx, fy
            fc = [1396.059496,1396.599704 ];
            // focal center cx, cy
            cc = [ 951.990674, 549.768211 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [  -0.085894,   0.088135 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
