aprilCameraCalibration {

    // MRE:   0.382 px MSE   0.249 px MaxRE   2.477 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 615.493086, 615.125076 ];
            // focal center cx, cy
            cc = [ 314.785156, 243.111785 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.420879,  -0.324876 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
