aprilCameraCalibration {

    // MRE:   0.340 px MSE   0.213 px MaxRE   2.434 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 614.756996, 614.230730 ];
            // focal center cx, cy
            cc = [ 313.972618, 243.473530 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.307076,   3.145026, -32.309982, 115.592134,-139.608588 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
