aprilCameraCalibration {

    // MRE:   0.348 px MSE   0.219 px MaxRE   2.478 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 612.122024, 611.544353 ];
            // focal center cx, cy
            cc = [ 313.994240, 243.291052 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.570207,  -1.521633,   2.626220 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
