aprilCameraCalibration {

    // MRE:   0.589 px MSE   0.516 px MaxRE   2.655 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.DistortionFreeCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 620.509704, 621.913589 ];
            // focal center cx, cy
            cc = [ 318.168301, 239.611052 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
