aprilCameraCalibration {

    // MRE:   0.403 px MSE   0.267 px MaxRE   2.496 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 616.729095, 616.382366 ];
            // focal center cx, cy
            cc = [ 315.084216, 242.880704 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.045543,  -0.243695 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
