aprilCameraCalibration {

    // MRE:   0.341 px MSE   0.214 px MaxRE   2.444 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 614.017767, 613.473526 ];
            // focal center cx, cy
            cc = [ 314.000244, 243.455769 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.067708,   0.759416, -11.689325,  40.152515, -43.352385 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
