aprilCameraCalibration {

    // MRE:   0.288 px MSE   0.122 px MaxRE   1.363 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 610.099234, 608.247316 ];
            // focal center cx, cy
            cc = [ 315.427894, 246.950303 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.572067,  -1.633078,   2.915310 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
