aprilCameraCalibration {

    // MRE:   0.286 px MSE   0.118 px MaxRE   1.318 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 612.133525, 610.163463 ];
            // focal center cx, cy
            cc = [ 315.410092, 247.001029 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.363645,   1.807187, -21.239184,  75.246096, -85.788492 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
