aprilCameraCalibration {

    // MRE:   0.287 px MSE   0.119 px MaxRE   1.341 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 611.206067, 609.245717 ];
            // focal center cx, cy
            cc = [ 315.410663, 246.888506 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.468426,  -0.279477,  -3.749424,  10.886327 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
