aprilCameraCalibration {

    // MRE:   0.266 px MSE   0.104 px MaxRE   1.232 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 611.755874, 609.916677 ];
            // focal center cx, cy
            cc = [ 322.757205, 248.396105 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.072382,   0.610470, -11.405693,  40.945279, -45.381751 ];
            // tangential distortion parameters
            // equivalent to kc(3) and kc(4) in Caltech model
            // equivalent to p1, p2 in OpenCV model
            lc = [   0.000955,   0.004097 ];
            skew =   -0.000395;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
