aprilCameraCalibration {

    // MRE:   0.336 px MSE   0.161 px MaxRE   1.528 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 615.783045, 615.114173 ];
            // focal center cx, cy
            cc = [ 324.430555, 247.946368 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.032886,  -0.256726 ];
            // tangential distortion parameters
            // equivalent to kc(3) and kc(4) in Caltech model
            // equivalent to p1, p2 in OpenCV model
            lc = [   0.000568,   0.004882 ];
            skew =   -0.000821;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
