aprilCameraCalibration {

    // MRE:   0.563 px MSE   0.477 px MaxRE   3.366 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.DistortionFreeCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 628.101817, 633.983439 ];
            // focal center cx, cy
            cc = [ 316.336652, 245.461621 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
