aprilCameraCalibration {

    // MRE:   0.287 px MSE   0.119 px MaxRE   1.348 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 610.741922, 608.802633 ];
            // focal center cx, cy
            cc = [ 315.412027, 246.883307 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.177553,  -1.211562,   1.790110 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
