# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Clion Files
catkin_ws/src/cmake-build-debug/
catkin_ws/src/.idea/

catkin_ws/install
catkin_ws/build
catkin_ws/devel
catkin_ws/matlab_gen
catkin_ws/.catkin_workspace
catkin_ws/.catkin_workspace
catkin_ws/src/realsense_camera/.idea
catkin_ws/src/CMakeLists.txt
*~
*.gz
.viewer-prefs
drake_viewer.out
core
.~lock*

output/
zeros.txt
input/last_input.json
*.png

input/interactive_placing.*
input/stow_result.*
