aprilCameraCalibration {

    // MRE:   0.327 px MSE   0.159 px MaxRE   1.286 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 612.125331, 610.576606 ];
            // focal center cx, cy
            cc = [ 322.375917, 235.453378 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.440672,   0.253021,  -7.455066,  23.130412, -14.174208 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
