aprilCameraCalibration {

    // MRE:   0.361 px MSE   0.197 px MaxRE   1.603 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 614.546116, 613.013590 ];
            // focal center cx, cy
            cc = [ 322.561812, 234.852119 ];
            // polynomial approximation mapping theta to radius
            kc = [   0.398032,  -0.256668 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
