aprilCameraCalibration {

    // MRE:   0.569 px MSE   0.468 px MaxRE   2.183 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.DistortionFreeCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 622.251605, 623.786656 ];
            // focal center cx, cy
            cc = [ 322.866566, 233.912666 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
