aprilCameraCalibration {

    // MRE:   0.377 px MSE   0.212 px MaxRE   1.625 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            // focal length fx, fy
            fc = [ 615.760693, 614.332192 ];
            // focal center cx, cy
            cc = [ 322.552523, 234.632929 ];
            // radial distortion parameters
            // equivalent to kc(1), kc(2), kc(5)... in Caltech toolbox
            // equivalent to k1, k2, k3... in OpenCV
            kc = [   0.026536,  -0.197562 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
